#main {
  background-color: #eeeeee;
  margin: 2em 0.5em;

  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
header,
footer,
h2 {
  text-align: center;
}
#img-div {
  background-color: white;
  display: flex;
  flex-direction: column;
}

#image,
#img-caption {
  align-self: center;
}

#img-caption {
  text-align: center;
  padding: 1em;
  max-width: 900px;
}

#image {
  max-width: 1024px;
  max-height: 623px;
  width: 95%;
}

.quote {
  margin: 0;
  padding: 1em;
  font-style: italic;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
li {
  margin: 10px 0;
}

time,
footer {
  font-weight: bold;
  padding-bottom: 2em;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  margin: 1em;
  max-width: 700px;
  padding: 1em;
  align-self: center;
}
